.am-header{
  background: #000;
}
.am-header-right a{
  font-size: 1.5rem;
}
.right-menu{
  display: block;
  margin-top: -1.5rem;        
}

/* section0 */
.pic{
  /* top: 4rem; */
  width: 80%;
}
.pic img{
  margin: 6rem 0rem 0rem -20%;
}   
.section0{
  width: 45%;
  position: absolute;
  top: 4rem;  
  right: 0rem;
  padding: 11% 1rem 0rem 2rem;
}
.fontSection0{
  display: block;
  text-align: center;
}
.section0 .tit{
  text-align:center;
}
.section0 .txt{
  margin-top: 1rem;
}
.btns{
  width: 100%;   
} 
.android,
.ios{
  position: absolute;
  bottom: 18%;
  left: 0rem;
  width: 80%;
  height: 4.5rem;
  margin-left: 10%;
  background: #85d560;
  display: block;
  border-radius: 5px;
}
.ios{
  background: #00c2eb;
  bottom: 18%;
  transform: translateY(6rem);
  -webkit-transform: translateY(6rem);
}
.android img,
.ios img{
  margin: .3rem 0rem 0rem 15%;
}
.android span,
.ios span{
  position: absolute;
  top: 1rem;
  left: 0rem;
  font-size: 1.5rem;
}
.down{
  position: absolute;
  bottom: -1rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  max-width: 3rem;
  max-height: 3rem;
  animation: down .9s infinite;
  -webkit-animation: down .9s infinite;
} 
@keyframes down{
  0% {
    bottom: -1rem;
  }
  50% {
    bottom: -1.5rem;
  }
  100% {
    bottom: -1rem;
  }
}
@-webkit-keyframes down{
  0% {
    bottom: -1rem;  
  }
  50% {
    bottom: -1.5rem;    
  }  
  100% {
    bottom: -1rem;  
  }
}

/* section1 */
.section1{
  background: #00c2eb;
}

/* section2 */
.fontSection2{
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 80%;
  font-size: 1.8rem;
}

.downLoad{
  position: absolute;
  bottom: 18%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  display: block;
  margin-bottom: 7rem;
  font-size: 1.8rem;
}

/* base css */
:root{
  font-family: "SimHei";
}
span{
  color: #fff;
}
#bg1,
#bg3,
#bg4{
  margin-left: 50%;
  transform: translateX(-50%);
  -webKit-transform: translateX(-50%);
}
.absolute,
.am-header,
.pic,
.btns{
  position: absolute;
  top: 0rem;
  left: 0rem;
}
.section1,
.section2,
.section3{
  text-align: center;
}
.titleFont,
.section1 .tit1,
.section1 .tit2,
.section2 .tit,
.section3 .tit1,
.section3 .tit2,
.section0 .tit{
  font-size: 3rem;
}  
.contFont,
.section1 .txt1,
.section1 .txt2,
.section0 .txt{
  font-size: 1.8rem;
}
.cont1,
.section2 .txt1,
.section3 .tit1,
.section1 .tit1{
  /* margin-top: 20%; */
  margin-top: 5rem;
}
.cont2,
.section2 .tit,
.section3 .txt1,
.section1 .tit2{
  /* margin-top: 40%; */
  margin-top: 11rem;
}
.cont3,
.section2 .txt2,
.section3 .txt2,
.section1 .txt1{
  /* margin-top: 60%; */
  margin-top: 19rem;
}
.cont4,
.section2 .txt3,
.section3 .tit2,
.section1 .txt2{
  /* margin-top: 80%; */
  margin-top: 27rem;
}
.section1 img,
.section2 img,
.section3 img{
  position: absolute;
  bottom: 15%;
  left: 0rem;
}

@media screen and (min-width: 1024px){     /* 平板设备，暂时未兼容 */
  .phone{   
    margin-top: 1.5%;
  }                
}

@media screen and (max-height: 550px){     /* 小屏设备，差不多跟果4一样大的屏幕 */
  .pic img{
    margin: 4rem 0rem 0rem -20%;
  }
  .section0{
    top: 2rem;  
  }
  .downLoad{   
    display: none;
  }                
  .cont1,
  .section2 .txt1,
  .section3 .tit1,
  .section1 .tit1{
    margin-top: 5rem;
  }
  .cont2,
  .section2 .tit,
  .section3 .txt1,
  .section1 .tit2{
    margin-top: 10rem;
  }
  .cont3,
  .section2 .txt2,
  .section3 .txt2,
  .section1 .txt1{
    margin-top: 15rem;
  }
  .cont4,
  .section2 .txt3,
  .section3 .tit2,
  .section1 .txt2{
    margin-top: 20rem;
  } 
}