*{
	font-family: "STXihei","Arial","Microsoft Yahei","Helve","Simsun,sans-self"; 
	color: #fff;
	outline: none; 
	list-style: none; 
} 
:root{     
	background: #202020;    
}
/* 页头 */  
.am-header{    
	background: #1dbcd2;      
}      
.am-header-title > span{             
	font-size: 1.8rem;                 
}
/* margin居中 */
.marginCenter{   
	margin: 0rem auto;
}         
/* 相对定位 */ 
.relative{
	position: relative;
} 
/* 绝对定位 */     
.absolute{    
	position: absolute;     
}            
/* 块级显示 */
.block{
	display: inline-block;
}
/* 字体大小 */
.font14{
	font-size: 1.4rem;
}
.font16{
	font-size: 1.6rem;
}
.font18{
	font-size: 1.8rem;
}
