*{
	font-family: "STXihei","Arial","Microsoft Yahei","Helve","Simsun,sans-self"; 
	color: #fff;
	outline: none;
}
:root{
	background: #202020;
}
/**
 * 页头
 */
.am-header{
	background: #1dbcd2;    
}    
.am-header-title > span{      
	font-size: 1.8rem;       
}
/**
 * 内容块
 */
#content{
	background: #f5f5f5;
	height: 100%;
}
.inuse,.used,.passed{
	float: left;
	width: 33.33%;
	height: 3.5rem;
	text-align: center;
	border-bottom: .3rem solid #2bbccf;
	font-size: 1.6rem;
	color: #2abdcf;
	padding-top: .7rem;
	background: #202020;
}
.used,.passed{
	border: none;
	color: #fff;
}  
.card{
	width: 90%;
	height: 10rem;
	background: #fff;
	margin: 1rem auto;
	border-radius: .5rem;
}
.card > div:first-child{     /* 代金券头 */
	background: #2BC0D4;
	color: #fff;
	border-radius: .5rem .5rem 0rem 0rem;
	height: 70%;
}
.card > div:first-child p{     /* 演唱会代金券 */
	margin: 1rem 0rem 0rem 1rem;
	padding: .8rem 0rem 0rem .5rem;
	font-size: 1.6rem;
} 
.card > div:first-child img{     /* logo */
	width: 2.5rem;
	height: 2.5rem;
	float: right;
	margin: 1rem 1rem 0rem 0rem;
}
.card > div:first-child span{     /* 代金券金额 */
	font-size: 4.5rem;
	float: right;
	margin: -1rem 1rem 0rem 0rem;
}
.card > div:last-child{     /* 代金券底 */
	background: #fff;   
	border-radius: 0rem 0rem .5rem .5rem;
}
.card > div:last-child span{
	font-size: 1.3rem; 
	color: #a7a7a7; 
}
.card > div:last-child span:first-child{     /* 使用期限 */
	float: left;
	margin: .8rem 0rem 0rem 1rem;
}
.card > div:last-child span:nth-child(2){     /* 期限时间 */
	display: inline-block;
	margin-top: .9rem;
}
.card > div:last-child span:last-child{     /* 使用规则 */
	float: right;
	margin: -1.8rem 1rem 0rem 0rem;
	color: #ff971a;
}
