*{
	font-family: "STXihei","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self"; 
	color: #fff;
}
:root{
	background: #202020;
}
/**
 * 页头
 */
.am-header{
	background: #1dbcd2;
}
.am-header-title > span{  
	font-size: 1.8rem;
}
/**
 * 内容块
 */
#content{
	background: #202020;
	height: 100%;
}
.kind{
	width: 100%;
	text-align: center;
}
.kind div{    
	width: 18%; 
	text-align: center;
	display: inline-block;
	margin: 2rem 0rem 1rem;
}
.kind img{
	width: 3rem;
	height: 3rem;
	margin: 0rem auto;
}
.kind span{
	font-size: 1.4rem;
	color: #ccc;
}
/* 项目排行样式 */
.paihang-poster,.success-poster{
	min-width: 8rem;
	min-height: 12rem;
}
.paihang-title,.success-title{
	font-size: 1.8rem;
	color: #ccc;
	margin-right: 1rem;
	margin-top: .5rem;  
}    
.paihang-content{
	font-size: 1.2rem;  
	margin-top: -.1rem;   
	margin-bottom: .1rem;
}
.paihang-content span{
	margin-right: 1rem;
	font-size: 1.4rem;
	color: #999;
}
.paihang-star{
	margin-top: 1.5rem;
	width: 1.2rem;
	height: 1.2rem;
}
.paihang-support{
	position: absolute;
	bottom: -.5rem;
	right: 1rem;
	margin-left: 2.5rem;
	font-size: 1.8rem;
	color: #1dbcd2;
}
.paihang-jiantou,.success-jiantou{
	width: 1.2rem;               
	height: 1.2rem;       
	position: absolute;         
	top: 1rem;        
	right: .7rem;    
}


