*{
	font-family: "STXihei","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self"; 
	list-style: none;
	outline: none;
}
input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #8ed2db;
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #8ed2db;
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #8ed2db;
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #8ed2db;
} 
:root{   
	background: #202020;
}
/*
 * 页头  
 */
.am-header{
	background: #1dbcd2;
	text-align: center;  
}
/* .header{
	background: #000;
}
.header-font,.header-font-left{   
	font-size: 1.6rem;  
	color: #fff;  
}
.header-font-left{   
	font-size: 1.4rem;  
} */
/* 左侧导航栏 */
.am-offcanvas{   
	text-align: center;       
}
.am-offcanvas-bar{
	background: #202020;
}
.logo{        
	width: 13.88rem;     
	height: 4.58rem;  
}
.left-nav{
	height: 21.6rem;      
	width: 15rem; 
}   
.left-nav li{  
	margin-top: 1px;      
	line-height: 3.5rem; 
	font-size: 1.6rem;     
	float: left;
	margin-left: .4rem;
} 
.left-nav img{   
	width: 2rem;       
	height: 2rem;   
}
.left-nav span{
	margin-left: .5rem;	  
}   
.left-bottom{
	width: 100%;   
	height: 4rem;
	position: relative;
}
.left-bottom:nth-of-type(2){
	margin-top: 2.5rem;
}
.am-offcanvas-content:nth-child(1) > div:nth-of-type(1){
	margin: 20% 0rem 1rem 0rem; 
}
.left-bottom img{
	width: 2.5rem;
	height: 2.5rem;
	position: absolute;
	left: 50%;
	top: -.5rem;
	transform: translate(-50%);
	-webkit-transform: translate(-50%); 
	-moz-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-o-transform: translate(-50%);
}
.left-bottom span{
	line-height: 6.5rem;
	font-size: 1.4rem;
} 
/* 搜索框 */
.search{
	background: #0ea0b7;
	width: 70%;  
	height: 62%;  
	margin: 0rem auto;
	transform: translate(0rem, 40%);
	-webkit-transform: translate(0rem, 40%);
	-moz-transform: translate(0rem, 40%);
	-ms-transform: translate(0rem, 40%);
	-o-transform: translate(0rem, 40%);
	border-radius: 2rem;
	position: relative;
}
.search img{
	width: 2rem;
	height: 2rem;
	position: absolute;
	top: 50%;
	left: 1.5rem;
	transform: translate(0rem, 50%);
	-webkit-transform: translate(0rem, -50%);
	-moz-transform: translate(0rem, -50%);
	-ms-transform: translate(0rem, -50%);
	-o-transform: translate(0rem, -50%);
}
.search input{
	background: #0ea0b7;
	width: 66%;
	height: 100%;  
	border: none;
	float: left;   
	margin-left: 4rem;  
	font-size: 1.4rem;
	color: #8ed2db;
}
/* 右侧导航栏样式 */
.user-header{
	width: 6rem;
	height: 6rem; 
	display: block;      
	margin-left: 50%;    
	transform: translate(-50%);
	-webkit-transform: translate(-50%);   
	-moz-transform: translate(-50%);     
	-ms-transform: translate(-50%);   
	-o-transform: translate(-50%);   
}
.user-title{
	font-size: 1.6rem;       
	color: #ccc;     
}
.right-nav{  
	height: 14rem;
	width: 15rem;   
}
.right-nav li{
	line-height: 3.5rem;
	float: left;
	margin-left: .7rem;
	margin-bottom: .3rem;   
}    
.right-nav span{
	font-size: 1.6rem;   
	margin-left: .5rem;  
}
.right-nav li:last-child span{
	color: #20A7B9;
}
.right-nav img{  
	width: 2rem;
	height: 2rem;
}
/*
 * 内容块样式
 */  
#content{
	background: #202020;
}  
/* Tab选项卡 */
.tab{   
	background: #202020;
	text-align: center;
	height: 3rem;
}    
.tab a{
	color: #fff;         
	font-size: 1.6rem;          
	display: inline-block;
	padding: .1rem 1rem;
	margin: 0rem 3%;
	line-height: 3rem;   
}
.tab a:first-child{ 
	color: #1dbcd2;     
}
.tab + div{
	width: 100%;
	height: .2rem;  
	background: #1dbcd2;
}
/* 推荐项目 */
.tuijian{
	position: relative;
}
.tuijian > img:first-child,     /* 视频海报 */
.tuijian > img:nth-of-type(4){     /* 概况海报 */   
	margin: 0rem auto;
}
.tuijian > img:nth-child(2),     /* 视频蒙版 */
.tuijian > img:nth-child(3),     /* 播放按钮 */
.tuijian > img:nth-of-type(5),     /* 图片蒙版 */
.tuijian > span:nth-of-type(1),     /* 概况标题 */
.tuijian a img{     /* 支持按钮 */
	position: absolute;
	top: 0rem;    
	left: 50%;   
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
	-ms-transform: translate(-50%);
	-moz-transform: translate(-50%);
	-o-transform: translate(-50%);  
}
.tuijian > img:nth-child(3){     /* 播放按钮 */
	width: 6rem;    
	height: 6rem;     
	display: none;    
}
.video{       
	display: none;
	position: absolute;
	top: 0rem;    
	left: 0rem;  
}
.tuijian > span:nth-of-type(1){     /* 概况标题 */
	color: #fff;   
	font-size: 1.8rem;      
	margin-top: 8%; 
	border-bottom: .1rem solid #ccccce; 
	display: none;
}   
.intro{     /* 概况内容 */
	width: 100%;
	text-align: center;
	font-size: 1.6rem;
	color: #fff;
	position: absolute;
	left: 0rem;
	top: 0rem;
	margin-top: 8%;  
	display: none;
}
.intro img{    
	display: inline-block;
	width: 2rem;
	height: 2rem;
}
.intro span:nth-of-type(1),
.intro span:nth-of-type(2){
	margin-right: 7%;
}
.tuijian a img{
	width: 4.48rem;
	height: 5.12rem;
	margin-top: 5%; 
	display: none;
}
/* 项目排行样式 */
.paihang-poster,.success-poster{
	min-width: 8rem;
	min-height: 12rem;
}
.paihang-title,.success-title{
	font-size: 1.8rem;
	color: #ccc;
	margin-right: 1rem;
	margin-top: .5rem;  
}    
.paihang-content{
	font-size: 1.2rem;  
	margin-top: -.1rem;   
	margin-bottom: .1rem;
}
.paihang-content span{
	margin-right: 1rem;
	font-size: 1.4rem;
	color: #999;
}
.paihang-star{
	margin-top: 1.5rem;
	width: 1.2rem;
	height: 1.2rem;
}
.paihang-support{
	position: absolute;
	bottom: -.5rem;
	right: 1rem;
	margin-left: 2.5rem;
	font-size: 1.8rem;
	color: #1dbcd2;
}
.paihang-jiantou,.success-jiantou{
	width: 1.2rem;            
	height: 1.2rem;       
	position: absolute;      
	top: 1rem;     
	right: 1rem;
}
/* 最新项目样式 */
.zuixin{
  	background: #202020;
}
.zuixin-poster{
	margin: 0rem auto;  
}
.zuixin-content{
	text-align: center;
}
.zuixin-content span{   
	color: #ccc;
	font-size: 1.4rem;    
	margin-right: 1rem;    
}
.zuixin-title{
	display: block;    
	padding-top: 1rem;
	padding-bottom: .5rem;
}
.zuixin-support,.success-ok{    
	color: #1dbcd2;
	display: block;
	font-size: 1.8rem;
	padding-top: .5rem;
	padding-bottom: 1rem;
}
/* 成功项目样式 */
.success-content{
	font-size: 1rem;  
	color: #fff;
	margin-top: -.1rem;   
	margin-bottom: .1rem;  
}  
.success-content span{
	margin-right: 1rem;
	font-size: 1.4rem;
	color: #999; 
}
.success-icon{
	width: 2rem;
	height: 2rem;
	margin-top: 1.5rem;
}
.success-ok{
	margin-top: -2.7rem;
	margin-left: 2rem;
}



