input::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #8ed2db;
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #8ed2db;
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #8ed2db;
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #8ed2db;
} 
/* .header{
	background: #000; 
}
.header-font,.header-font-left{    
	font-size: 1.6rem;  
	color: #fff;      
}
.header-font-left{   
	font-size: 1.4rem;  
} */
/* 左侧导航栏 */ 
.am-offcanvas{   
	text-align: center;       
}
.am-offcanvas-bar{
	background: #202020;
}
.logo{           
	width: 10.41rem;     
	height: 3.44rem;     
}
.left-nav{   
	height: 21.6rem;      
	width: 15rem;  
}       
.left-nav li{  
	float: left;          
	margin-top: 1px;         
	line-height: 4rem;         
	font-size: 1.6rem;         
	float: left;
	margin-left: .4rem;     
}          
.left-nav li a{ 
	display: block;   
	height: 4rem;
	padding-right: 2rem;           
}      
.left-nav li:nth-of-type(2) > a{      
	padding-right: 5.2rem;                      
}   
.left-nav li:nth-of-type(3) > a{       
	padding-right: 0rem;             
} 
.left-nav img{    
	width: 2rem;          
	height: 2rem;         
}     
.left-nav span{
	margin-left: .5rem;    
}   
.left-bottom{
	width: 100%;        
	height: 4rem;
	position: relative;
} 
.left-bottom:nth-of-type(2){ 
	margin-top: 2.5rem;
}
.am-offcanvas-content:nth-child(1) > div:nth-of-type(1){   
	margin: 20% 0rem 1rem 0rem; 
} 
.left-bottom img{ 
	width: 2.5rem; 
	height: 2.5rem; 
	position: absolute; 
	left: 50%;
	top: -.5rem; 
	transform: translateX(-50%);      
	-webkit-transform: translateX(-50%);  
} 
.left-bottom span{
	line-height: 6.5rem;  
	font-size: 1.4rem;   
}   
.left-btn{
	width: 120%;
	margin: 80% 0rem 0rem -5%;   
}
.left-btn div{
	border: .1rem solid #ccc; 
	width: 42%;               
	height: 3rem;         
	line-height: 3rem;      
	border-radius: .5rem;
} 
.left-btn div:first-child{
	margin-right: .3rem;
}
.left-btn div:last-child{
	margin-left: .3rem;
}
/* 搜索框 */
.search{          
	background: #0ea0b7;
	width: 70%;   
	height: 62%;  
	margin: 0rem auto;       
	transform: translateY(40%);       
	-webkit-transform: translateY(40%);       
	border-radius: 2rem; 
	position: relative;
}
.search img{
	width: 2rem;
	height: 2rem;    
	position: absolute; 
	top: 50%;
	left: 1.5rem;
	transform: translateY(-50%);    
	-webkit-transform: translateY(-50%);
}
.search input{     
	background: #0ea0b7;
	width: 66%;
	height: 100%;  
	border: none;    
	float: left;   
	margin-left: 4rem;  
	font-size: 1.4rem;
	color: #8ed2db;
}
/* 右侧导航栏样式 */ 
.user-header{ 
	width: 6rem;
	height: 6rem; 
	display: block;      
	margin-left: 50%;    
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);   
} 
.user-title{
	font-size: 1.6rem;       
	color: #ccc;     
}
.right-nav{  
	height: 14rem;
	width: 15rem;   
}
.right-nav li{
	line-height: 3.5rem;
	float: left;
	margin-left: .7rem;    
	margin-bottom: .3rem;   
}    
.right-nav li a{
	padding: 1rem 0rem;        
} 
.right-nav span{ 
	font-size: 1.6rem;   
	margin-left: .5rem;  
}
.right-nav li:last-child span{
	color: #20A7B9;
}
.right-nav img{  
	width: 2rem;
	height: 2rem;
}
/*
 * 内容块样式
 */ 
.center, 
.tab,
.kind, 
.mengxiang,
.guazi{ 
	max-width: 100rem;    
	margin: 0rem auto; 
}  
#content{ 
	display: none;
	background: #202020;
}    
/* Tab选项卡 */
.tab{    
	text-align: center; 
	height: 4rem;    
}       
.tab a{
	color: #fff;         
	font-size: 1.5rem;             
	display: inline-block;        
	width: 23%; 
	line-height: 3rem;   
	margin-top: .5rem;
}  
.tab a:first-child{            
	color: #1dbcd2;   
	background: #000; 
	border-radius: 2rem;   
}     
.tab + div{  
	width: 100%;  
	height: .2rem;     
	background: #1dbcd2;      
}    
.tab-active{
	color: #1dbcd2;
}     
/* 推荐项目 */      
.tuijian{   
	position: relative;
}   
.tuijian > img:first-child,     /* 视频海报 */  
.tuijian a > img:first-child{     /* 概况海报 */   
	margin: 0rem auto;   
	opacity: .6; 
}           
.tuijian > img:nth-child(2),     /* 播放按钮 */ 
.tuijian a > img:last-child{     /* 支持按钮 */ 
	position: absolute;         
	top: 0rem;     
	left: 50%;               
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);       
} 
.tuijian > img:nth-child(2){     /* 播放按钮 */    
	display: none;
	width: 7rem;     
	height: 7rem;          
	top: 14%;  
}       
.video{         
	display: none;
	position: absolute;            
	top: 0rem;         
	left: 0rem;  
} 
.intro{     /* 概况内容 */  
	display: none;
	width: 100%; 
	text-align: center;
	font-size: 1.5rem; 
	color: #fff; 
	position: absolute;    
	left: 0rem;    
	top: 50%;     
	margin-top: 40%;
}   
.intro img{       
	display: inline-block;
	width: 2rem; 
	height: 2rem;   
}          
.intro span:nth-of-type(1), 
.intro span:nth-of-type(2){         
	margin-right: 7%;       
}        
.tuijian a > img:last-child{      /* 支持按钮 */   
	width: 4.48rem;  
	height: 5.12rem;
	top: 50%;
	margin-top: 15%; 
}  
@media screen and (min-width: 641px){     /* 非手机设备 */ 
    .intro{         
    	margin-top: 30rem; 
    }    
    .tuijian > img:last-child{       
    	margin-top: 15rem; 
    }
}               
/* 全部众筹，原演出众筹 */ 
.quanbu{  
	display: none;
}
.kind{    
	width: 100%;    
	text-align: center;    
}           
.kind div{      
	width: 18%; 
	text-align: center;           
	display: inline-block;          
	margin: 2rem 0rem 1rem;                 
} 
.kind img{   
	width: 3rem;  
	height: 3rem;     
	margin: 0rem auto;       
	display: block;         
}
.kind span{   
	font-size: 1.4rem;
	color: #ccc;
}
/* 人气众筹样式 */
.renqi{ 
	display: block;    
	position: relative;           
	max-width: 100rem;    
}         
.renqi,
.renqi:hover{           
	color: #fff;    
}
.renqi img, 
.renqi{      
	margin: 0rem auto;   
}      
.renqi-mengban{
	left: 50%;  
	bottom: 0rem;    
	transform: translateX(-50%);    
	-webkit-transform: translateX(-50%);
} 
.renqi-mengban, 
.renqi span:nth-of-type(1),
.renqi span:nth-of-type(2),
.renqi span:nth-of-type(3), 
.renqi button{  
	position: absolute; 
}
.renqi span:nth-of-type(1), 
.renqi span:nth-of-type(2){
	left: 2rem;  
}
.renqi span:nth-of-type(1){     /* 人名 */
	font-size: 2rem;         
	bottom: 4rem;
} 
.renqi span:nth-of-type(2),     /* 学校 */
.renqi span:nth-of-type(3){     /* 身份 */    
	font-size: 1.5rem;      
	bottom: 1rem; 
} 
.renqi span:nth-of-type(3){    /* 身份 */  
	left: 12rem; 
}   
.renqi button{ 
	right: 1rem;    
	bottom: 1.5rem; 
	border: none;  
	border-radius: 3rem; 
	font-size: 1.8rem; 
	padding: .5rem 2rem;
	background: #1dbcd2;
}
/* 瓜子娱乐样式 */  
/*.guazi{
	text-align: center;      
	display: none;
} 
.guazi .yule,
.guazi .panxi,          
.guazi .yiren{  
	margin-top: 1rem; 
	display: inline-block;     
	width: 32%;          
}     
.guazi .xiangxi{ 
	width: 95%;
	display: block;
	overflow: hidden; 
	white-space: nowrap;
	text-overflow: ellipsis;
}*/
/* 项目排行样式 */  
.paihang{      
	display: block;  
}   
.paihang-poster,.success-poster{ 
	min-width: 8rem;   
	min-height: 12rem;   
} 
.paihang-title,.success-title{ 
	font-size: 1.8rem; 
	color: #ccc;
	margin-right: 2rem;
	margin-top: -.5rem;    
}     
.paihang-content{  
	font-size: 1.2rem;   
	margin-top: -.1rem;   
	margin-bottom: .1rem; 
} 
.paihang-content span{
	margin-right: 1rem;
	font-size: 1.4rem;
	color: #999;      
}
.paihang-star{ 
	margin-top: 1.5rem;
	width: 1.2rem;
	height: 1.2rem;
} 
.paihang-support{ 
	position: absolute;
	bottom: -.5rem;
	right: 1rem;
	margin-left: 2.5rem; 
	font-size: 1.8rem;      
	color: #1dbcd2;  
} 
.paihang-jiantou,.success-jiantou{
	width: 1.2rem;               
	height: 1.2rem;       
	position: absolute;         
	top: .3rem;        
	right: .7rem;      
}
.more{
	display: none;
	cursor: pointer;
}
/* 最新项目样式 */
/*.zuixin{
  	background: #202020; 
  	display: none;
}
.zuixin-poster{ 
	margin: 0rem auto;  
}
.zuixin-content{  
	text-align: center;
}
.zuixin-content span{   
	color: #ccc;
	font-size: 1.4rem;     
	margin-right: 1rem;    
}
.zuixin-title{ 
	display: block;    
	padding-top: 1rem; 
	padding-bottom: .5rem;
}
.zuixin-support,.success-ok{    
	color: #1dbcd2;
	display: block;
	font-size: 1.8rem;
	padding-top: .5rem;
	padding-bottom: 1rem;
} */
/* 成功项目样式 */
/*.success{
	display: none;
}
.success-content{  
	font-size: 1rem;   
	color: #fff; 
	margin-top: -.1rem;       
	margin-bottom: .1rem;         
}  
.success-content span{  
	margin-right: 1rem;
	font-size: 1.4rem;     
	color: #999; 
}
.success-icon{
	width: 2rem;
	height: 2rem;              
	margin-top: 1.3rem;
}     
.success-ok{    
	position: absolute;
	bottom: -1.4rem;
	margin-left: 2rem;
}*/



