body{
	background: #202020; 
}
.live{
	background: rgba(0, 0, 0, .3);
	margin-top: 1rem;
	position: relative;
	display: block; 
} 
.live .poster{
	margin: 1rem 0rem; 
}
.live span:nth-of-type(1){    /* 标题 */
	font-size: 1.8rem;      
	margin-top: 1.5rem;
	display: block;
	color: #fff;
}   
.live span{         
	font-size: 1.5rem;    
	color: #aaa; 
}
.live span:nth-of-type(2){    /* 城市 */
	display: inline-block;
	margin-top: 2.5rem;         
}
.jiantou{  
	width: 1.5rem;      
	height: 1.5rem;
	position: absolute; 
	right: 1rem; 
	top: 2.1rem;
}