*{
	font-family: "STXihei","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self"; 
	color: #fff;
}
:root{
	background: #202020;
}
/**
 * 页头
 */
.am-header{
	background: #1dbcd2;    
}    
.am-header-title > span{      
	font-size: 1.8rem;       
}
/**
 * 内容块
 */
#content{
	background: #202020;
	padding-top: 3rem;
}
#content input{
	background: #202020;
	margin: 0rem auto;
	width: 80%;
	max-width: 40rem;      
	height: 3.5rem;   
	margin-bottom: 1rem;  
	border: .1rem solid #666;        
	font-size: 1.5rem;
}
.btn,.btn:focus,.btn:active{  
	background: #1dbcd2;
	border: none;
	width: 80%;
	max-width: 40rem;
	height: 3.5rem;
	margin: 0rem auto;
	margin-top: 2rem;
	font-size: 1.8rem;
	color: #fff;
	outline: none;
}
