*{
	font-family: "STXihei","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self"; 
	color: #fff;
	list-style: none;
	outline: none;
}
:root{
	background: #202020;
}
/**
 * 页头
 */
.am-header{
	background: #1dbcd2;
}
.am-header-title > span{  
	font-size: 1.8rem;
}
/**
 * 内容块
 */
#content{
	background: #202020;
}
.sex{
	text-align: center;
}
.man,.woman{
	display: inline-block;
	margin: 3rem 3.5rem .5rem;    
	position: relative;
}
.sex p{
	font-size: 1.6rem;    
	color: #ccc;
	margin: .3rem 0rem 0rem;
}
.man img,.woman img{
	width: 6rem;
	height: 6rem;
}
.man img:nth-of-type(2),
.woman img:nth-of-type(2){     /* 选中图标 */
	width: 1.6rem;
	height: 1.6rem;
	position: absolute;
	top: 5rem;
	right: .4rem;
	display: none;
} 
.woman img:nth-of-type(2){
	display: block;
}
.user-info{
	max-width: 40rem;
	margin: 0rem auto; 
}
.user-info ul{
	font-size: 1.6rem;
}
.user-info li span:nth-of-type(2){
	float: right;
}
.user-info ul li{
	margin: 2rem 0rem 0rem -1.5rem;
}
.user-info ul li img{     /* 右箭头 */
	width: 1.2em;
	height: 1.2rem;
	float: right;
	margin: .5rem .5rem 0rem 0rem;
}
.btn,.btn:focus,.btn:active{  
	background: #1dbcd2;
	border: none;
	max-width: 40rem;
	height: 3.5rem;
	font-size: 1.8rem;
	color: #fff;
	margin: 3.5rem auto 0rem;
}