*{
	font-family: "STXihei","Arial","Microsoft Yahei","Hiragino Sans GB","Simsun,sans-self"; 
	color: #fff;
	outline: none;
}
:root{
	background: #202020;
}
/**
 * 页头
 */
.am-header{
	background: #1dbcd2;    
}    
.am-header-title > span{      
	font-size: 1.8rem;       
}
/**
 * 内容块
 */
#content{
	background: #202020;
}
.myGold,
.daijin{
	position: relative;
	width: 90%;
	max-width: 40rem;
	height: 5rem;
	margin: 0rem auto;
}
.myGold span,   
.daijin span{
	display: inline-block;
	margin-left: 3.3rem;
	font-size: 1.6rem;
	transform: translate(0rem, -70%);
	-webkit-transform: translate(0rem, -70%);
	-moz-transform: translate(0rem, 70%);
	-ms-transform: translate(0rem, 70%);
	-o-transform: translate(0rem, 70%);
}
.myGold img:nth-of-type(1),
.daijin img:nth-of-type(1){     /* icon */
	width: 3rem;
	height: 3rem;
	transform: translate(0rem, 40%);
	-webkit-transform: translate(0rem, 40%);
	-moz-transform: translate(0rem, 40%);
	-ms-transform: translate(0rem, 40%);
	-o-transform: translate(0rem, 40%);
}
.myGold img:nth-of-type(2),
.daijin img:nth-of-type(2){     /* 右箭头 */
	width: 1.5rem;
	height: 1.5rem;
	float: right;
	transform: translate(0rem, -70%);
	-webkit-transform: translate(0rem, -70%);
	-moz-transform: translate(0rem, -70%);
	-ms-transform: translate(0rem, -70%);
	-o-transform: translate(0rem, -70%);
}
.line{
	width: 100%;
	max-width: 40rem;
	height: .1rem;
	margin: 0rem auto;
	background: #3d3d3d;
}