body,div,img,p,h5,a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	border: 0;
}
a:link,
a:visited,
a:hover,
a:active{
	color: #fff;
}
p:nth-of-type(1){
	font-size: 1.8rem;      
}
p{
	font-size: 1.4rem;
	margin-top: 2px;
}
.mian{            
	background: #202020;
}
.details{ 
	/*height: 300px;*/    
	background: #202020; 
	padding: 13px 10px;
} 
.details p:nth-of-type(2){
	margin-top: 5px;
}
img{
	width: 100%;
}
.support{
	width: 100%;
	height: 40px;
	line-height: 40px; 
	text-align: center;
	background-color: #1DBCD2;
	font-size: 1.8rem;
}
@media screen and (min-width: 375px) and (max-width: 410px){
	p:nth-of-type(1){
		font-size: 1.9rem;
	}
	p{
		font-size: 1.5rem;
	}
}
@media screen and (min-width: 411px) and (max-width: 700px){
	p:nth-of-type(1){
		font-size: 2.4rem; 
	}    
	p{           
		font-size: 1.8rem;
		margin-top: 3px;
	}
	.details p:nth-of-type(2){         
		margin-top: 9px;
	}
	.support{
		height: 50px;
		line-height: 50px;
	}
}
@media screen and (min-width: 701px){
	p:nth-of-type(1){
		font-size: 2.8rem;
	}
	p{
		font-size: 2.0rem;
		margin-top: 5px;
	}
	.details p:nth-of-type(2){
		margin-top: 15px;
	}
	.support{
		height: 60px;
		line-height: 60px;
	}
}